<% include ../partials/header %>

<div class="row">
	<div class="col-xl"></div>
	<div class="col-md-8 pt-4 mx-auto pb-5">
	<div class="card">
		<div class="card-header bg-success text-light">
			<div class="form-group row">
				<h4 class="col-lg-4 card-title"><%=ddesc%></h4>
				<label class="col-lg-2 col-form-label" for="doc-no">Doc Number</label><div class="col-lg-2"><input type="text" name="docno" value="<%= docno %>" class="form-control" readonly></div>
				<label class="col-lg-1 pr-0 col-form-label" for="date">Date</label><div class="col-lg-3"><input type="text" name="date" value="<%= date %>" class="form-control" readonly></div>
			</div>
		</div>
		<form method="POST" action="/delivery/req">
			<div class="card-body">
				<div class="form-row">
					
					<div class="col-xl-6">
						<div class="card mb-4">
							<div class="card-header">Bill To Information</div>
							<div class="card-body">
							<div class="form-row">
								<% if(dtype=='a' || dtype=='d') {%>
									<label class="col-form-label col-md-3"  for="na-no">Account #:</label><div class="col-md-3"><input type="text" value="<%=deliverydata.Number%>" class="form-control" readonly></div>
									<label class="col-form-label col-md-2" for="bt-ns">Bill to:</label><div class="col-md-4 pb-3"><input type="text" value="<%=deliverydata.Nonsig%>" class="form-control" readonly></div>
									<label class="col-form-label col-md-3 pb-3" for="bt-name">Name:</label><div class="col-md-9"><input type="text" value="<%=deliverydata.Name%>" class="form-control" readonly></div>
									<label class="col-form-label col-md-3 pb-3" for="bt-addr-1">Address 1:</label><div class="col-md-9"><input type="text" value="<%=deliverydata.Address%>" class="form-control" readonly></div>
									<label class="col-form-label col-md-3 pb-3" for="bt-addr-2">Address 2:</label><div class="col-md-5"><input type="text" value="" class="form-control" readonly></div>
									<label class="col-form-label col-md-1 pb-3" for="bt-zip">Zip</label><div class="col-md-3"><input type="text" value="<%=deliverydata.Zip%>" class="form-control" readonly></div>
									<label class="col-form-label col-md-3 pb-3" for="bt-city">City:</label><div class="col-md-5"><input type="text" value="<%=deliverydata.City%>" class="form-control" readonly></div>
									<label class="col-form-label col-md-2 pb-3" for="bt-st">State:</label><div class="col-md-2"><input type="text" value="<%=deliverydata.State%>" class="form-control" readonly></div>
								<%} else {%>
									<label class="col-form-label col-md-3"  for="st-ns">Nonsig</label><div class="col-md-3"><input type="text" id="nonsigb" placeholder="123456" class="form-control"></div>
									<label class="col-form-label col-md-2" for="st-ns">Or: </label><div class="col-md-4 pb-3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="enableBill();">New Entry</button></div>
									<label class="col-form-label col-md-3 pb-3 " for="bt-name">Name:</label><div class="col-md-9"><input type="text" class="form-control rdnbt" readonly></div>
									<label class="col-form-label col-md-3 pb-3 " for="bt-addr-1">Address 1:</label><div class="col-md-9"><input type="text" class="form-control rdnbt" readonly></div>
									<label class="col-form-label col-md-3 pb-3 " for="bt-addr-2">Address 2:</label><div class="col-md-5"><input type="text" class="form-control rdnbt" readonly></div>
									<label class="col-form-label col-md-1 pb-3 " for="bt-zip">Zip</label><div class="col-md-3"><input type="text" class="form-control rdnbt" readonly></div>
									<label class="col-form-label col-md-3 pb-3 " for="bt-city">City:</label><div class="col-md-5"><input type="text" class="form-control rdnbt" readonly></div>
									<label class="col-form-label col-md-2 pb-3" for="bt-st">State:</label><div class="col-md-2"><input type="text" class="form-control rdnbt" readonly></div>
								<%}%>
							</div>
							</div>
						</div>	
						
					</div>
					<div class="col-xl-6">
						<div class="card md-4">
							<div class="card-header">Ship To Information</div>
							<div class="card-body">
							<div class="form-row">
								<label class="col-form-label col-md-3"  for="st-ns">Nonsig</label><div class="col-md-3"><input type="text" id="nonsig" placeholder="123456" class="form-control"></div>
								<label class="col-form-label col-md-2" for="st-ns">Or: </label><div class="col-md-4 pb-3"><button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="enableShip();">New Entry</button></div>
								<label class="col-form-label col-md-3 pb-3 " for="bt-name">Name:</label><div class="col-md-9"><input type="text" class="form-control rdnin" readonly></div>
								<label class="col-form-label col-md-3 pb-3 " for="bt-addr-1">Address 1:</label><div class="col-md-9"><input type="text" class="form-control rdnin" readonly></div>
								<label class="col-form-label col-md-3 pb-3 " for="bt-addr-2">Address 2:</label><div class="col-md-5"><input type="text" class="form-control rdnin" readonly></div>
								<label class="col-form-label col-md-1 pb-3 " for="bt-zip">Zip</label><div class="col-md-3"><input type="text" class="form-control rdnin" readonly></div>
								<label class="col-form-label col-md-3 pb-3 " for="bt-city">City:</label><div class="col-md-5"><input type="text" class="form-control rdnin" readonly></div>
								<label class="col-form-label col-md-2 pb-3" for="bt-st">State:</label><div class="col-md-2"><input type="text" class="form-control rdnin" readonly></div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a class="btn btn-primary" href="<%=back%>">Back</a>		<button class="btn btn-secondary mx-3" onclick="hold();">Hold</button>		<input type="submit" class="btn btn-primary" value="Next">
				</div>
			</div>
		</div>
		</div>
		<div class="col-xl"></div>
		</div>
	</form>

	<div id="root">

	</div>

	<script>
		function hold() {
			console.log('held');
		}

		function enableShip() {
			var nonsig = document.getElementById('nonsig')
			var rdnin = document.getElementsByClassName('rdnin');
			for (let a of rdnin) {
				if (a.getAttribute('readonly')) {
					a.removeAttribute('readonly');
					nonsig.setAttribute('readonly', 'readonly');
					nonsig.value = '';
				} else {
					a.setAttribute('readonly', 'readonly');
					nonsig.removeAttribute('readonly');
				}
			};
		}

		function enableBill() {
			var nonsig = document.getElementById('nonsigb')
			var rdnin = document.getElementsByClassName('rdnbt');
			for (let a of rdnin) {
				if (a.getAttribute('readonly')) {
					a.removeAttribute('readonly');
					nonsig.setAttribute('readonly', 'readonly');
					nonsig.value = '';
				} else {
					a.setAttribute('readonly', 'readonly');
					nonsig.removeAttribute('readonly');
				}
			};
		}
	</script>
	<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script type="text/babel" src="/public/scripts/deliverybt.js"></script>
<% include ../partials/footer %>